.form__letters {
  display: flex;
  gap: 5px;
  margin-block-end: 16px;
}

.form__letter {
  aspect-ratio: 1 / 1;
  border: 2px solid var(--ink-900);
  box-shadow: 3px 3px 0 var(--ink-900);
  display: block;
  transition: background-color 0.2s;
  width: 80px;

  &:focus-visible {
    outline: 1px solid #222;
    outline-offset: 2px;
  }

  /* &:has(:disabled) {
    border-color: #999;
  } */

  &:not(:has(:disabled)) {
    cursor: pointer;
  }

  &:has(:checked) {
    background-color: var(--tile-5);
  }
}

.form__controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}