.results {
  display: block;
}

.results__list {
  container-name: results-list;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 100px;
}

.results__entry {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.results__letter {
  align-items: center;
  display: flex;
  font-family: var(--font-title);
  font-size: 1.5rem;
  gap: 1rem;
  justify-content: center;
  text-transform: uppercase;

  &:before,
  &:after {
    content: "";
    border-bottom: 2px solid var(--ink-900);
    display: block;
    flex-grow: 1;
    height: 1px;
   }
}

.results__words {
  container: results-list;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem 1.5rem;
  text-transform: capitalize;
  white-space: nowrap;
  width: 100cqw;
}

.results__select-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font: inherit;
  padding-block-start: 0.3em;
  text-transform: inherit;

  &[aria-selected="true"] {
    background-color: var(--paper-300);
  }

  &:focus-visible {
    outline: 2px solid var(--ink-900);
  }
}

.results__word {
  width: 5ch;
}

.results__count {
  opacity: 0.5;
}

.results__notice {
  margin: 3rem auto;
}

.selected {
  background-color: var(--paper-400);
  color: var(--paper-100);
  inset: 32px 32px auto auto;
  max-height: 80vh;
  min-width: 100px;
  overflow-y: auto;
  padding: 1.5rem;
  position: fixed;
}

.selected__title {
  font-family: var(--font-title);
  font-size: 2.2rem;
  padding-block-end: 1rem;
  text-transform: capitalize;
}

.selected__list {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 0.5rem;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}